<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.AgroCLIMA" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>AgroCLIMA</name>
    <description>
        Estaciones Meteorológicas del  Alto Valle - INTA Estación Experimental Agropecuaria Alto Valle -Fac.de Informática - UNComahue
    </description>
    <author email="luy5br@gmail.com" href="">
        Lorena Gonzalez - Daniel Toth
    </author>
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />
    <gap:plugin name="nl.x-services.plugins.insomnia" version="4.0.1" />
    <gap:plugin name="nl.x-services.plugins.toast" version="1.0" /> 
    <gap:plugin name="com.sharinglabs.cordova.plugin.cache"  />
    <icon src="icon.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="images/ic_launcher1.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="images/ic_launcher1.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="images/ic_launcher1.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="images/ic_launcher1.png" />
    <icon gap:platform="blackberry" src="images/icon-80.png" />
    <icon gap:platform="blackberry" gap:state="hover" src="images/ic_launcher.png" />
    <icon gap:platform="winphone" src="images/ic_launcher.png" />
    <icon gap:platform="winphone" gap:role="background" src="images/ic_launcher.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />
    <gap:splash gap:platform="blackberry" src="res/screen/blackberry/screen-225.png" />

    <access origin="*" />
</widget>
